#myform{
    display: flex;
    flex-direction: column;    
    align-items: center;
    position: relative;
    top: 100px;   
}
label{
    font-size: 1.5rem;
}
#topic{
    font-size: 2rem;
    font-weight: bold;
}

input{
    width: 30vw;
    margin: 10px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 20px;
    font-size: 1.5rem;
}
#age{
    width: 100px;

}
.submit, .reset{
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border: transparent;
    color: white;
    font-size: 1.5rem;
}
submit:hover{
    width: 105px;
    height: 45px;
    font-weight: bold;
}
.reset:hover{
    width: 105px;
    height: 45px;
    font-weight: bold;
}

.submit:nth-child(1){
    background-color: rgb(77, 159, 93);
}
.reset:nth-child(2){
    background-color: rgb(237, 92, 60);
}